
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$monster-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($monster-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($monster-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($monster-theme);
// ------------------------------------
//(Required file)
// ------------------------------------
@import "./variables/variables";
@import "./variables/theme_variables";
@import "./variables/variables-dark";

// ------------------------------------
// Themecolors (Required file)
// -----------------------------------
@import "./variables/variables-blue";
@import "./variables/variables-aqua";
@import "./variables/variables-purple";
@import "./variables/variables-green";
@import "./variables/variables-cyan";
@import "./variables/variables-orange";

// ------------------------------------
// Import Bootstrap source files (Required file)
// ------------------------------------
@import "../../../node_modules/bootstrap/scss/bootstrap";

// ------------------------------------
// Header
// ------------------------------------
@import 'layouts/spinner';
@import 'layouts/header';

// ------------------------------------
// sidebar
// ------------------------------------
@import 'layouts/sidebar';

// ------------------------------------
// customizer
// ------------------------------------
@import 'layouts/customizer';
@import 'layouts/layout';

// ------------------------------------
// horizontal
// ------------------------------------
@import "layouts/horizontal";

// ------------------------------------
//This is for the components (Required file)
// ------------------------------------
@import "components/accordian";
@import "components/alert";
@import "components/breadcrumb";
@import "components/buttons";
@import "components/card";
@import "components/dropdown";
@import "components/datepicker";
@import "components/forms";
@import "components/scafholdings";

// ------------------------------------
// vendors
// ------------------------------------
@import "vendors/extra";

// ------------------------------------
//This is for the pages (if you are not using some pages you can remove that style from pages folder)
// ------------------------------------
@import "pages/authentication";

// ------------------------------------
//This is for the widgets (Required file)
// ------------------------------------
@import "widgets/topbar-mail";
@import "widgets/chat-widgets";
@import "widgets/steamline";
 

// rtl
@import 'layouts/rtl/rtl';

//This is for the icons (Required file)
@import "icons/font-awesome/css/fontawesome-all.css";
@import "icons/themify-icons/themify-icons.css";
@import "icons/flag-icon-css/flag-icon.min.css";
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
