<!-- <p>singcontrac works!</p> -->
 <header class="sf-header sf-header--impact" role="banner">
  <div class="sf-header__sweep" aria-hidden="true"></div>

  <img class="sf-header__logo"
       src="../../../assets/images/Membretes.png"
       alt="Suma Fácil"
        width="150">

  <div class="sf-header__titles">
    <h1>ACUERDO COMERCIAL DIGITAL</h1>
    <p>Crédito Rotativo de Bajo Monto</p>
  </div>
</header>
<!-- <img src="../../../assets/images/Membretes.png" alt="150" width="150"> -->
<!-- @if (cargapdf) { -->
<div class="card" >
    <pdf-viewer
      [src]="pdfSrc"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="true"
      style="width: 100%; height: 65vh"
    ></pdf-viewer>
  </div>


<div class="firma">
    <canvas #canvas (touchstart)="startSignPadDrawing($event)" (touchmove)="movedFinger($event)"></canvas>
</div>

  <div class="botones">
    <button class="btn btn-success" (click)="enviarfirma()">Guardar</button>
    <button class="btn btn-danger" (click)="clear()">Borrar</button>
</div>
<!-- } -->


