<!-- <div class="contenedor">
    <p>Hello, (centered) World!</p>
  </div>

<div class="imagen">
    <img class="imagen" src="../../../assets/images/background/contrato.jpg" alt="">
</div>


<div class="botones">
    <button class="btn btn-success" >Guardar</button>
    <button class="btn btn-danger" >Borrar</button>
</div> -->

<div class="col-lg-4">
    <div class="card">
        <img class="card-img-top img-responsive" src="assets/images/background/contrato.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="d-flex no-block align-items-center mb-3">
                <span>
                    <i class="ti-calendar"></i> {{fecha | date}}</span>
                <div class="ms-auto">
                    <a href="javascript:void(0)" class="link">
                        <i class="ti-comments"></i> 3 Comments</a>
                </div>
            </div>
            <h3 class="fw-normal">¡Felicidades por dar este paso tan importante! 🎯 Estamos emocionados de ser parte de tu éxito. ¡Que tengas un día maravilloso y lleno de buenas vibras! ✨</h3>
            <!-- <p class="mb-0 mt-2">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p> -->
            <button class="btn btn-success btn-rounded mt-3" (click)="inicio()">Iniciar</button>
        </div>
    </div>
</div>
